.container
  %h1.text-center Streets Gallery
  -@street_galleries.each do |street_gallery|
    .col-lg-4.text-center
      = link_to street_gallery do
        = image_tag street_gallery.mural_image.url(:thumb)

.container
  .btn.btn-info
    = link_to 'New Mural', new_street_gallery_path
