.container
  %h1 Artist Profiles
  - @artist_profiles.each do |profile|
    .box.panel.panel-default.col-lg-3
      .panel-body.text-center
        = link_to profile.full_moniker, artist_profile_path(profile)
        = link_to edit_artist_profile_path(profile) do
          %span.glyphicon.glyphicon-pencil
        = link_to artist_profile_path(profile), method: :delete do
          %span.glyphicon.glyphicon-trash
.container
  .btn.btn-info
    = link_to 'New Artist', new_artist_profile_path
