.field.form-group.col-md-offset-1
  = f.label :twitter, class: "col-md-1"
  = f.text_field :twitter, class: "col-md-3"

.field.form-group.col-md-offset-1
  = f.label :instagram, class: "col-md-1"
  = f.text_field :instagram, class: "col-md-3"
