.field.form-group.col-md-offset-1
  = f.label :twitter, class: "col-md-1"
  .input-group.col-md-3
    .input-group-addon @
    = f.text_field :twitter, class: "form-control"

.field.form-group.col-md-offset-1
  = f.label :instagram, class: "col-md-1"
  .input-group.col-md-3
    .input-group-addon @
    = f.text_field :instagram, class: "form-control"
