Please provide a website and email address tied to that address if you have one.
We can also provide access through offical Twitter or Instagram accounts that
are active and clearly tied to the artist.

= render 'claim_profile_form'

If you are unable to provide any of the above we can verify you over the phone
by calling xxx.xxx.xxxx. Leave a brief message and we will get back to you shortly.

In the mean time feel free to create a regular account and upon approval we'll
merge it into the PROFILE IN QUESION.
