%h1.tube-sm.text-center Artist Profiles
.profile-container
  - @users.each do |user|
    .col-lg-2.profile-box
      = link_to user do
        .avatar
          = image_tag user.avatar.url(:thumb)
      .name-text
        %span
          = user.first_name
%br
.col-md-12
  %br
  -unless current_user.nil? || !current_user.admin?
    = link_to 'Add Artist', new_user_path, class: 'btn btn-info'
