.container
  %h1.tube-lg.text-center What is Streetheart all about?
.container.push
  %br
  %p
    Streetheart began after a move back to Denver and feeling like we were living in our cars. Surely there was something worth getting out and walking for. Street art had been something enjoyable about living in places like Chicago and New York, so we set out to find the art around Denver. Initially, it was just about discovering the pockets of urbanism in a more spread out city, but we soon realized that street art could bring so much more to our community.
  %p
    @DenverStreetart, our Instagram, was the first part of our project, where we took to the streets, captured bits of the myriad murals around town, tagging each with a location and our best to get the artists as well. It was our hope that people viewing our pictures would be motivated to go see the pieces they really liked in person. Anything to get them out and connecting with the community in a different way, or at least noticing what was already right in front of them, appreciating the art and the people who created it.
  %p
    The art is so much more than just beautiful imagery. It's also symbol of community. Just like we want people out engaging with the art in person, the art in turn gets those people out and engaging in their community. The more art there is, the more people we’ll see on the street, connecting with each other, with local business and with the arts. Our project is now angling toward connecting open walls with willing artists, in the hopes that even more places throughout Denver will become public art exhibits, drawing the community together.
.photoright
