.jumbotron
  %img{:alt => "Denver Street Art molina barrios", :src => "https://s3.amazonaws.com/streetheart/denver+street+art+jaime+molina+pedro+barrios.jpg"}
  %p.photocred Street art by Jaime Molina, Pedro Barrios  Joseph Martinez
  .container.text-center
    -# = link_to image_tag('https://s3.amazonaws.com/streetheart/twitter.png'), http://www.twitter.com/denverstreetart, :target = _blank
    -# = link_to image_tag('https://s3.amazonaws.com/streetheart/instagram.png'), http://www.instagram.com/denverstreetart, :target = _blank
    -# = link_to image_tag('https://s3.amazonaws.com/streetheart/email.png'), mailto:adam@denverstreetheart.com, :target = _blank
  %hr
    %footer
      %p ©Denver Streetheart 2014
