.container
  %h1.tube-lg.text-center Frequently Asked Questions
.container.push
  %br
  %p
    How can I get Streetheart for my city?
  %p
    Why does Streetheart want to use my location?
  %p

  -# Have a text_area submission field for users to ask a question not covered
  -# in the listed FAQs
  -# Once the list gets long enough there should be page jumps linking to questions
