.container
  %h1.tube-lg.text-center Frequently Asked Questions
.container.push
  %br
  %p
    How can I get Streetheart for my city?
  %p
    Why does Streetheart want to use my location?
  %p
    I am an artist with public work up in this city. How do I get listed?
  %p
    Why are there only options to sign in with Twitter and Instagram?

  -# Have a text_area submission field for users to ask a question not covered
  -# in the listed FAQs
  -# Once the list gets long enough there should be page jumps linking to questions
