.jumbotron
  -# %img{:alt => "Denver Street Art", :src => "https://s3.amazonaws.com/streetheart/denver+street+art+hero.jpg"}
  = image_tag('denver-street-art-hero.jpg')
%p.photocred Street art by Daniel Chavez  Keno Gonzales | Eddie Huang, Michael Kraus  Jacobo Gonzalez
.container
  .container
    .row
      .col-md-4
        %h2 Latest News
        %p Applications for Denver Public Art's Urban Art Fund close on March 31st. Be sure to head over to their site and get your application in ASAP. Grants range from $500-$5,000 for street art projects!
        %p
          %a.btn.btn-default{:href => "http://artsandvenuesdenver.com/public-art/urban-arts-fund/mural-project-application/", :role => "button", :target => "_blank"} View details »
      .col-md-4
        %h2 Need a wall?
        %p We’re partnering with business and property owners around town to help artists find locations to paint. Artists, you probably don’t want to spend your time hunting down walls and cozying up to business owners. We want to make that process easier, so you can get out and create more art around Denver!
      .col-md-4
        %h2 Want a mural?
        %p Get in touch with us if you’re interested in having an artist paint a mural on your property. Street art will draw attention to your business, and it's a great way to beautify your community. We’re working with artists and alongside the city to make the process of matching artists to your businesses easier every day.
