/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

.navbar {
  margin-bottom: 0;
}

// #map { pending delete
//  height: 380px;
// }

.navbar {
  margin-bottom: 0px;
}

.profile-map {
  width: 60%;
  height: 750px;
  background-color: #CCC;
}

.mural-map {
  height: 300px;
  width: 450px;
}

// geo fields to allow post/patch pending delete
// input.lat, input.long {
//   display: none;
// }

.gallery-map {
	width: 60%;
	height: 750px;
	background-color: #CCC;
}

.gallery-mural {
  margin-top: 8px;
  padding: 0;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

// .jumbotron img { pending delete
// 		width: 100%;
// }

.jumbotron {
		width: 100%;
		padding: 0;
    // img {
    //   width: 100%;
    // }
}

.photocred {
		float: right;
		margin-top: -30px;
		margin-right: 15px;
		color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  div {
    margin: 10px 0;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.scrollable {
  height: 750px;
  padding-left: 8px;
  overflow-y: scroll;
}
