/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

section {
  margin-bottom: 25px;
  clear: both;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a.artists, a.map {
  position: absolute;
  margin: -60px;
}

p.alert.alert-danger.text-center {
  margin-top: 54px;
  position: absolute;
}

.navbar {
  margin-bottom: 0;
  a {
    color: #777;
  }
  .btn {
    color: white;
  }
}

.navbar-btn {
  margin-left: 15px;
}

.navbar-buffer {
  margin-top: 60px;
}

.auth-btns {
  padding: 5px;
}

.news-item {
  width: 100%;
  display: inline-block;
  padding-left: 10px;

  @media (min-width: 415px) {
    width: 49%;
  }

  @media (min-width: 780px) {
    width: 32.8%;
  }
}

.news {
  padding: 10px;

  @media (min-width: 415px) and (max-width: 780px) {
    *:first-child {
      width: 100%;
    }
  }
}

.profile-body {
  width: 100%;
}

.profile-left {
  width: 52%;
  display: inline-block;
  vertical-align: top;
  h1 {
    margin-top: 0;
  }
}

.profile-right {
  width: 47%;
  display: inline-block;
}

.profile-map {
  height: 500px;
  background-color: #CCC;
}

.profile-avatar {
  img {
    vertical-align: bottom;
  }
}

.profile-box {
  width: 49%;
  display: inline-block;
  img {
    position: relative;
    width: 100%;
    margin: 1% 0 0 1%;
    display: inline-block;
  }

  @media (min-width: 416px) {
      margin: 1% 0 0 1%;
      width: 32%;
      float: left;
  }

  @media (min-width: 600px) {
      width: 23.8%;
  }

  @media (min-width: 800px) {
      width: 18.9%;
  }
}

.avatar {
  position: relative;
}

.social-links {
  margin-bottom: 10px;
}

.new-map {
  height: 700px;
  background-color: #CCC;
}

.mural-group {
  border-top: 1px solid grey;
  text-align: center;
  font-size: 2em;
}

.show-map {
  height: 300px;
  width: 300px;
}

.near-by {
  height: 675px;
  padding-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.jumbotron {
	width: 100%;
	padding: 0;
}

.photocred {
	float: right;
	margin-top: -30px;
	margin-right: 15px;
	color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  div {
    margin: 10px 0;
  }
}

.artist-profiles {
  height: 322px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable .btn {
  margin: 10px 0;
}

.name-text {
  position: relative;
  bottom: 50px;
  left: 1%;
  margin-bottom: -32px;
  overflow: hidden;
  span {
    color: white;
    font: 20px/32px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    white-space: nowrap;
  }
}

.add-new-icon {
  width: 180px;
  height:180px;
  background: rgba(146, 25, 247, 0.6);
  margin-left: 5px;
  margin-top: 8px;
  padding: 10px;
  float: left;
}

.dash-border {
  height: 100%;
  width: 100%;
  border: 4px dashed white;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px 0;
}

.dash-border .plus {
  font-size: 80px;
  line-height: 1.3;
}

.dash-border .text {
  font-size: 20px;
}

.hide-me {
  display: none;
}

.flagged {
  position: relative;
  bottom: 32px;
  left: 132px;
  width: 100%;
  a {
    color: rgba(231, 226, 220, 0.2);
  };
  a:hover {
    color: rgba(189, 28, 16, 0.6);
  }
}

.flagged_page {
  margin: 60px;
}

.flag-buttons .btn {
  margin: 10px;
}

footer {
  float: left;
}

footer .nav li {
  float: left;
}
