/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#map {
 height: 380px;
}

// geo fields to allow post/patch 
input.lat, input.long {
  display: none;
}

.gallery-map {
	width: 1170px;
	height: 500px;
	background-color: #CCC;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.jumbotron img {
		width: 100%;
}

.jumbotron {
		width: 100%;
		padding: 0;
}

.photocred {
		float: right;
		margin-top: -30px;
		margin-right: 15px;
		color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
}
