/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style-type: none;
}
// 
// li.dropdown {
//   padding-right: 20px;
// }

section {
  margin-bottom: 25px;
  clear: both;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a.anchor{
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

a.map {
  top: -250px;
}

p.alert.alert-danger.text-center {
  margin-top: 54px;
  position: absolute;
}

.navbar {
  margin-bottom: 0;
  a {
    color: #777;
  }
  .btn {
    color: white;
  }
}

.navbar-btn {
  margin-left: 15px;
}

.profile {
  margin-top: 70px;
}

.profile-map {
  margin-top: 70px;
  height: 750px;
  background-color: #CCC;
}

.new-map {
  height: 300px;
  width: 450px;
}

.show-map {
  height: 300px;
  width: 300px;
}

.gallery {
  height: 750px;
  padding-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  .col-md-5 {
    padding-left: none;
  }
}

.gallery-map {
	height: 750px;
	background-color: #CCC;
}

.gallery-mural {
  margin-top: 8px;
  padding: 0;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.jumbotron {
	width: 100%;
	padding: 0;
}

.social-box {
  position: relative;
  margin-left: 16px;
  bottom: 106px;
  span {
    color: white;
    font: 24px/36px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  img {
    width: 25px;
  }
}

.photocred {
	float: right;
	margin-top: -30px;
	margin-right: 15px;
	color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  div {
    margin: 10px 0;
  }
}

.profile-container {
  margin-left: 4em;
}

.profile-box {
  margin-right: 35px;
}

.avatar {
  position: relative;
}

.name-text {
  position: relative;
  bottom: 50px;
  width: 100%;
  span {
    color: white;
    font: 24px/36px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
}

.highlight {
  box-shadow: 0px 0px 5px 5px orange;
}
