/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

section {
  margin-bottom: 25px;
  clear: both;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a.artists, a.map {
  position: absolute;
  margin: -60px;
}

p.alert.alert-danger.text-center {
  margin-top: 54px;
  position: absolute;
}

.navbar {
  margin-bottom: 0;
  a {
    color: #777;
  }
  .btn {
    color: white;
  }
}

.navbar-btn {
  margin-left: 15px;
}

.navbar-buffer {
  margin-top: 60px;
}


.profile-map {
  height: 750px;
  background-color: #CCC;
}

.new-map {
  height: 700px;
  background-color: #CCC;
}

.mural-group {
  border-top: 1px solid grey;
  text-align: center;
  font-size: 2em;
}

.show-map {
  height: 300px;
  width: 300px;
}

.gallery {
  height: 750px;
  padding-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  .col-md-5 {
    padding-left: none;
  }
}

.near-by {
  height: 675px;
  padding-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  .col-md-5 {
    padding-left: none;
  }
}

.gallery-map {
	height: 750px;
	background-color: #CCC;
}

.gallery-mural {
  margin-top: 8px;
  padding: 0;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.jumbotron {
	width: 100%;
	padding: 0;
}

.social-box {
  position: relative;
  margin-left: 16px;
  bottom: 106px;
  span {
    color: white;
    font: 24px/36px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  img {
    width: 25px;
  }
}

.photocred {
	float: right;
	margin-top: -30px;
	margin-right: 15px;
	color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  div {
    margin: 10px 0;
  }
}

.profile-container {
  margin-left: 4em;
}

.profile-box {
  margin-right: 35px;
}

.avatar {
  position: relative;
}

.name-text {
  position: relative;
  bottom: 50px;
  width: 100%;
  span {
    color: white;
    font: 24px/36px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
}

.highlight {
  box-shadow: 0px 0px 3px 3px #69FFC2;
}

.img-placeholder {
  width: 180px;
  height:180px;
  background: rgba(146, 25, 247, 0.6);
  margin-left: 5px;
  margin-top: 8px;
  padding: 10px;
  float: left;
}

.dash-border {
  height: 100%;
  width: 100%;
  border: 4px dashed white;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px 0;
}

.dash-border .plus {
  font-size: 80px;
  line-height: 1.3;
}

.dash-border .text {
  font-size: 20px;
}

.hide-me {
  display: none;
}
