/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0px;
}

.profile-map {
  width: 60%;
  height: 750px;
  background-color: #CCC;
}

.mural-map {
  height: 300px;
  width: 450px;
}

.show-map {
  height: 300px;
  width: 300px;
}

.gallery-map {
	width: 60%;
	height: 750px;
	background-color: #CCC;
}

.gallery-mural {
  margin-top: 8px;
  padding: 0;
}

.tube-sm {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .5em;
}

.tube-lg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.jumbotron {
		width: 100%;
		padding: 0;
    // img {
    //   width: 100%;
    // }
}

.photocred {
		float: right;
		margin-top: -30px;
		margin-right: 15px;
		color: #C0C0C0;
}

.user-album {
  list-style: none;
  padding: 0;
  div {
    margin: 10px 0;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.scrollable {
  height: 750px;
  padding-left: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile-container {
  margin-left: 4em;
}

.profile-box {
  margin-right: 35px;
  margin-top: 15px;
}

.avatar {
  position: relative;
}

.name-text {
  position: absolute;
  top: 190px;
  left: 16px;
  width: 100%;
}

.name-text span {
  color: white;
  font: 24px/36px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.connect-box {
  position: absolute;
  bottom: 185px;
  left: 16px;
  width: 100%;
}

.connect-box span {
  color: white;
  font: 24px/36px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.btn a {
  color: white;
}

.btn a:hover {
  text-decoration: none;
}

.jumbotron .btn img {
  width: 25px;
}

.highlight {
  box-shadow: 0px 0px 5px 5px orange;
}
