.col-md-12
  .row
    .col-md-7#gallery-map.gallery-map
    .gallery
      .scrollable
        -@murals.each do |mural|
          .col-md-4.gallery-mural
            = link_to mural do
              = image_tag mural.image.url(:user_ablum), class: "mapPin #{mural.id}"
- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.galleryMap();
    });
