#gallery-map.gallery-map
.gallery
  %ul
    -@murals.each do |mural|
      %li.col-md-2.gallery-mural
        = link_to mural do
          = image_tag mural.image.url(:thumb)
- if current_user
  = link_to 'New Mural', new_mural_path, class: 'btn btn-info'
