#gallery-map.gallery-map
.container
  .row.gallery
    %ul.row#muralGallery
      -@murals.each do |mural|
        .col-lg-2.gallery-mural
          .mapPin{:class => mural.id}
            = link_to mural do
              = image_tag mural.image.url(:user_ablum)
  - if current_user
    = link_to 'New Mural', new_mural_path, class: 'btn btn-info'

- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.galleryMap();
    });
