.container
  %h1.text-center Streets Gallery
  #map
  .row.gallery
    %ul.row#muralGallery
      -@murals.each do |mural|
        %li.row.col-lg-3.text-center
          = link_to mural do
            = image_tag mural.image.url(:thumb)
.container
  - if current_user
    = link_to 'New Mural', new_mural_path, class: 'btn btn-info'
