#gallery-map.gallery-map
.container
  .row.gallery
    %ul.row#muralGallery
      -@murals.each do |mural|
        %li.col-lg-3.gallery-mural#mapPin
          = link_to mural do
            = image_tag mural.image.url(:thumb)
  - if current_user
    = link_to 'New Mural', new_mural_path, class: 'btn btn-info'

- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.galleryMap();
    });
