.container-fluid
  .navbar-buffer
  %h1.text-center Add some street art!
  .row
    .col-md-7.new-map
    .col-md-5
      .upload-form= render 'upload_form'
      .mural-list.text-center
        %h4 Mural already listed? Add it to the group...
        .near-by

- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.dropMap();
    });
