.container-fluid
  .navbar-buffer
  %h1.text-center Add some street art!
  .row
    .col-md-7.new-map
    .col-md-5
      = render 'upload_form'
      .gallery

- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.dropMap();
    });
